
.walletOptions{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:15px;
    background-color: rgba(133, 137, 160, 0.164);
    padding: 30px;
    border-radius: 5px;
}

.heading{
    font-size: 30px;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.afterConnection{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(133, 137, 160, 0.164);
    padding: 30px;
    border-radius: 5px;
}

.paragraphs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button{
    color: rgb(182, 176, 176);
    border-radius: 5px;
    border:none;
    background-color: rgba(133, 137, 160, 0.164);
    padding: 2px 10px;
    font-size: 15px;
}